.event-border-left{
  border-left: solid 1px grey;
  height: max-content;
}
.speaker-name{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 10px;
  margin-top: 21px;
}
.event-custom-tab{
  width: 25%;
}
.event-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #445998;
}
.event-subtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  color: #445998;
}
.event-panel{
  width: 100%;
}
.networking-text-container {
  width: 300px;
  margin: auto;
}
.event-description{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.networking-container{
  text-align: center;
  justify-content: center;
}
.netoworking-img{
  margin-top: 43px;
  margin-bottom: 27px;
}
.networking-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #666666;
}
.title-modal{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #666666;
}
.subtitle-modal{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #666666;
}